
.formulario {display: flex;
flex-direction: column;
align-items: center;


}
.contenedor {display: flex;
margin-top: 10px;
max-height: 480px;
gap:30px;
padding: 0 20px;
justify-content: space-evenly !important;

}
h1 {font-size: 46px;
  margin-top: 45px;
text-align: center;
margin-bottom: 45px;
font-family: "Work Sans", sans-serif;}


mat-form-field {width: 600px;}

img{
max-height: 450px ;
}

button{border-radius: 10px;
width: 50%;
margin-top: 10px;
}
.carrusel-container {

  width: 100%;

  .picsum-img-wrapper {
    width: 100%;
    height: 500px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f0f0f0;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }
}
