<section class="contenedor">
<div class="formulario">
<mat-form-field  appearance="fill">
  <mat-label>Nombre</mat-label>
  <input matInput>
</mat-form-field>
<mat-form-field  appearance="fill">
  <mat-label>Telefono</mat-label>
  <input matInput>
</mat-form-field>


<mat-form-field>
  <mat-label>Select</mat-label>
  <mat-select>
    <mat-option value="one">Consulta 🍦</mat-option>
    <mat-option value="two">Comentario sobre atención 😊</mat-option>
  </mat-select>
</mat-form-field>
<mat-form-field>
  <mat-label>Escribe aqui</mat-label>
  <textarea matInput rows="5"></textarea>
  
</mat-form-field>
     <button mat-raised-button>Enviar</button>

</div>
<img src="/public/image.png" alt="">
</section>