<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <nav >
        <ul>

            <li><a><img src="/public/logo.png" alt="Logo"></a></li>
            <li><a href="home">Home</a></li>
            <li><a href="sabores">Sabores</a></li>
            <li><a href="contacto">Contacto</a></li>
            <li><a href="about">Sobre nosotros</a></li>
        </ul>
    </nav>


</body>

</html>