<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <nav>
        <ul>

            <li><a>Ice cream shop</a></li>
            <li><a href="#home">Home</a></li>
            <li><a href="#news">News</a></li>
            <li><a href="#contact">Contact</a></li>
            <li><a href="#about">About</a></li>
        </ul>
    </nav>


    <section>
        <p> Tu elección <br> de sabor perfecta</p>
        <p>Dejate emocionar por nuestra gran variedad de sabores de helado</p>
        <button> Pedir ahora!</button>
    </section>

</body>

</html>