:host::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(255, 255, 255, 0.2); /* Un leve velo blanco */
  backdrop-filter: blur(2px); /* Difumina ligeramente */
  z-index: -1; /* Envía el efecto detrás de los elementos */
}





.example-card {
  width: 185px;
  border-radius: 1px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.2s ease;
  margin: 6px;
   
}

.cardcontainer {display: flex;
flex-wrap: wrap;
margin-top: 35px;
}
mat-card {
  background-color: rgba(255, 255, 255, 0.85); /* Blanco con leve transparencia */
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1); /* Sombras suaves */
}


body {
  filter: brightness(0.95);
}

.example-card:hover {
  transform: scale(1.01);
}

.example-card img {
  max-width: 70%;
  margin: auto;
  max-height: 60%;
}

mat-card-title {
  font-size: 1.2rem;
  color: #151516;
}

mat-card-content {
  font-size: 0.95rem;
  color: #444;
  padding: 8px 0 12px 0;
  margin: auto;
}
