@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Work+Sans:ital,wght@0,800;1,800&display=swap');

img {
  background-color: #fff;
}

mat-card { 
  max-width: 50%;
  margin-top: 50px;
}

.texto {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 1.2rem;
  line-height: 1.8;
  padding-bottom: 10px;
  background-color: rgb(244, 236, 233);
  font-family: "Playfair Display";
}

.texto p {
  text-align: center;
  margin-top: 0px;
}

.cardprincipal {
  display: flex;
  justify-content: center;
  width: 100%;
}

.cardcontainer {
  margin-top: 50px;
  display: flex;
  width: 90%;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 20px;
}

h1 {
  font-size: 46px;
  margin-top: 45px;
  text-align: center;
  font-family: "Work Sans", sans-serif;
}

.helado {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

button {
  width: 250px;
  height: 60px;
  background-color: rgb(253, 132, 178);
  margin-top: 20px;
  padding: 10px;
  border-radius: 10px;
  font-size: 20px;
  font-family: "Work sans", sans-serif;
  border-style: none;
  color: white;
}

.botoncentrado {
  display: flex;
  justify-content: center;
}

html {
  background-color: rgb(244, 236, 233) !important;
}

.example-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 185px;
  border-radius: 5px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.2s ease;
  padding: 12px;
  font-family: "Playfair Display";
  height: 240px;
}

.example-card:hover {
  transform: translateY(-5px);
}

.example-card img {
  align-items: center;
  max-width: 100%;
  height: 120px;
  object-fit: cover;
}

mat-card-content {
  white-space: nowrap;
}

.cartel {
  background: #f7f2e2;
  padding: 12px;
  border-radius: 8px;
  text-align: center;
  font-weight: 500;
  margin: 0px 0;
  width: 100%;
}
