/* You can add global styles to this file, and also import other style files */
html, body {
  height: 100%;
  margin: 0; /* Asegúrate de no tener márgenes predeterminados */
}

body {
  background-image: url('/jnWGWSWTVqU.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed; /* Opcional: para que el fondo no se desplace */
}