#home {
  padding-bottom: 60px;
}

img {
  height: 430px;
}

.texto {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.texto p {
  margin-left: 25px;
  margin-top: 0;
}

.texto p:nth-child(1),
.texto p:nth-child(2),
.texto p:nth-child(3) {
  font-size: 70px;
  font-weight: bold;
  line-height: 0.5;
  margin-top: 0;
}

.texto p:nth-child(1) {
  margin-top: 5px !important;
}

.texto p:nth-child(4),
.texto p:nth-child(5) {
  font-size: 20px;
  font-weight: bold;
  color: #333;
  margin-top: 0;
}

section {
  font-family: "Work Sans", sans-serif;
  display: flex;
  color: rgb(101, 43, 11);
  align-items: center;
  justify-content: space-between;
}

button {
  background-color: rgb(255, 217, 80);
  border-radius: 122px;
  font-family: "Work Sans", sans-serif;
  font-size: 24px;
  padding: 15px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  align-self: flex-start;
  margin-left: 20px;
  margin-bottom: 10px;
}

.bootstrap {
  visibility: hidden;
}
