<app-home></app-home>

<mat-card class="example-card" appearance="outlined">

  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Chat de pedidos</mat-card-title>
 <button mat-icon-button (click)="cerrarChat()" class="btn-cerrar">
      <mat-icon>close</mat-icon>
    </button> 
    <mat-card-subtitle>
        
   Bienvenido a nuestro bot de pedidos. Te comentamos cuáles son los gustos disponibles.
    </mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    
    <br>
   
<p *ngFor="let producto of productos">
  🍨 {{ producto.sabor }} - $ {{ producto.precio }} - {{ producto.tamano }}
</p>


    <hr>

    <div class="chat-historial" #chatContainer>
      <div *ngFor="let mensaje of historial">
        <p [ngClass]="{'usuario': mensaje.emisor === 'usuario', 'bot': mensaje.emisor === 'bot'}">
          <strong>{{ mensaje.emisor === 'usuario' ? 'Tú:' : 'Bot:' }}</strong> {{ mensaje.texto }}
        </p>
      </div>
    </div>

  </mat-card-content>

  <mat-card-actions>
    <input
      type="text"
      [(ngModel)]="mensaje"
      (keydown.enter)="enviar()"
      placeholder="Escribí tu mensaje"
      style="width: 80%;"
    />
    <button mat-button color="primary" (click)="enviar()">Enviar</button>
  </mat-card-actions>
</mat-card>
