<app-home></app-home>

<mat-card class="example-card" appearance="outlined">
  <mat-card-header>
    <mat-card-title>Chat de pedidos</mat-card-title>
    <button mat-icon-button (click)="cerrarChat()" class="btn-cerrar">
      <mat-icon>close</mat-icon>
    </button>

  </mat-card-header>

  <mat-card-content class="chat-content">
    ¡Bienvenido! Soy tu asistente de pedidos. Escribe para comenzar.
    <p>Si aún no ves respuesta...⏳ Espera, se está cargando...</p>
    <hr>
    <!-- Contenedor del historial con referencia para scroll -->
    <div class="chat-history-container" #chatHistorial>
      <div *ngFor="let mensaje of historial">
        <p [ngClass]="{'mensaje-usuario': mensaje.emisor === 'usuario', 'mensaje-ia': mensaje.emisor === 'bot'}">
          <strong>{{ mensaje.emisor === 'usuario' ? 'Tú:' : 'Bot:' }}</strong> {{ mensaje.texto }}
        </p>
      </div>
    </div>
  </mat-card-content>

  <mat-card-actions class="chat-actions">
    <input type="text" [(ngModel)]="mensaje" (keydown.enter)="enviar()" placeholder="Escribí tu mensaje"
      class="chat-input" />
    <button mat-icon-button color="primary" (click)="enviar()">
      <mat-icon>send</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>
