.example-card {
  max-width: 400px;
  position:absolute;
  bottom:12px;
  left:50%;
  top:75px;
  overflow: scroll;

}

.example-header-image {
  background-image: url("/logo.png");
  background-size: cover;
}


