<app-home></app-home>

<mat-card class="example-card" appearance="outlined">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Chat de pedidos</mat-card-title>
    <button mat-icon-button (click)="cerrarChat()" class="btn-cerrar">
      <mat-icon>close</mat-icon>
    </button>
    <mat-card-subtitle>
      Bienvenido a nuestro bot de pedidos. Te comentamos cuáles son los gustos disponibles.
      Empieza el chat con nosotros para gestionar el delivery a domicilio!
    </mat-card-subtitle>
  </mat-card-header>

  <mat-card-content class="chat-content">
    <p *ngFor="let producto of productos">
      🍨 {{ producto.sabor }} - $ {{ producto.precio }} - {{ producto.tamano }}
    </p>

    <hr>

    <!-- Contenedor del historial con referencia para scroll -->
    <div class="chat-history-container" #chatHistorial>
      <div *ngFor="let mensaje of historial">
        <p [ngClass]="{'mensaje-usuario': mensaje.emisor === 'usuario', 'mensaje-ia': mensaje.emisor === 'bot'}">
          <strong>{{ mensaje.emisor === 'usuario' ? 'Tú:' : 'Bot:' }}</strong> {{ mensaje.texto }}
        </p>
      </div>
    </div>
  </mat-card-content>

  <mat-card-actions class="chat-actions">
    <input
      type="text"
      [(ngModel)]="mensaje"
      (keydown.enter)="enviar()"
      placeholder="Escribí tu mensaje"
      class="chat-input"
    />
    <button mat-icon-button color="primary" (click)="enviar()">
      <mat-icon>send</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>
